
<meta charset="utf-8">
<title>Assets</title>
<link href="style.css" rel="stylesheet">
<script src="frontend.js"></script>


<h1>asset toolbox</h1>

<h2>preview creation</h2>
<h3 id="name" contenteditable="true"></h3>
<p id="shorttext" contenteditable="true"></p>
<div id="playerNumbers">
  <p id="minPlayer" contenteditable="true"></p>
  <p id="maxPlayer" contenteditable="true"></p>
</div>
<p id="targetGroup" contenteditable="true"></p>
<p id="version" contenteditable="true"></p>
<p id="table" contenteditable="true"></p>
<p id="lang" contenteditable="true"></p>
<div id="thumbnail">
  <p>Drag image into this box. It will be scaled to fit into 600 x 600.</p>
  <img class="empty" width=600 height=600/>
</div>
<button id="download">save preview files</button>

<h2>assets compression</h2>
<div id="compress"></div>

<h2>optional improvements</h2>
<p>
  <strong>sound:</strong>
  <ul>
    <li>Mix from stereo to mono for compression.</li>
    <li>Reduce noise.</li>
    <li>Trim silence for better compression.</li>
    <li>Soften loud uncomfortable peaks and amplify silent voice with help of a compressor.</li>
    <li>If start and end don't start at zero, use fading to avoid clipping.</li>
    <li>Remove potential DC-offset.</li>
  </ul>
  You can use for example following AudaCity chain:
  <textarea style="resize:none;width:100%;white-space:pre;" rows="8">
StereoToMono:Use_Preset="<Factory Defaults>"
NoiseReduction:Use_Preset="<Factory Defaults>"
Compressor:Use_Preset="<Factory Defaults>"
TrimSilence:min-end-silence="0.000000000000" min-start-silence="0.000000000000" threshold="-32.000000000000"
FadeInAndOut:in="0.020000000000" out="0.020000000000"
Normalize:ApplyGain="1" Level="-3.000000000000" RemoveDcOffset="1" StereoIndependent="0"
ExportFlac:</textarea>
  If some effect from the chain is missing, you can download it from <code>https://wiki.audacityteam.org/wiki/Download_Nyquist_Plug-ins</code>.
  <br><br>
  <strong>big assets:</strong> default quality after compression is rather high, consider lowering quality. The default used commands are:
  <table style="border: 1px solid black;margin: 15px;">
    <tr><td>png (with alpha)</td><td><code>pngquant src.png -o dest.png</code></td></tr>
    <tr><td>jpg, png (opaque)</td><td><code>gm convert src.img -quality 75 dest.jpg</code></td></tr>
    <tr><td>wav, mp3, opus, flac</td><td><code>ffmpeg -i src.sound -c:a libopus -b:a 24k dest.opus</code></td></tr>
  </table>
  <br><br>
  <strong>svg:</strong> If you use svg-files, save them in a minified format. In inkscape you would save as <em>Optimized SVG</em>.
</p>
