body {
  background: #eee;
}

h1 { text-align: center; }

#thumbnail { position: relative; }
#thumbnail p {
  width: 600px; height: 600px; padding: 20px; box-sizing: border-box;
  background: #fff;
}
#thumbnail img { position: absolute; top: 0; }
#thumbnail img.waiting { background: #ff0; opacity: .5; }

div#playerNumbers { display: flex; }
div#playerNumbers *:first-child { padding-right: 20px; }

#name:empty:before { content:'name'; opacity: .3; cursor: text; }
#shorttext:empty:before { content:'short text (< 80 characters)'; opacity: .3; cursor: text; }
#minPlayer:empty:before { content:'minimum player number'; opacity: .3; cursor: text; }
#maxPlayer:empty:before { content:'maximum player number'; opacity: .3; cursor: text; }
#targetGroup:empty:before { content:'target group'; opacity: .3; cursor: text; }
#version:empty:before { content:'version'; opacity: .3; cursor: text; }
#table:empty:before { content:'table'; opacity: .3; cursor: text; }
#lang:empty:before { content:'language (de/en/...)'; opacity: .3; cursor: text; }



#compress {
  width: 100%;
  position: relative;
  background: #fff;
}
#compress > p {
  padding: 50px;
  text-align: center;
  cursor: default;
}
#compress.ready { background: #fee; }
#compress.ready:hover:after {
  display: grid; position: absolute; top: 0; text-align: center; align-items: center;
  width: 100%; height: 100%;
  content: 'Compress';
  font: 40px Arial; color: #eff;
  background: #aaea;
  cursor: pointer;
}
#compress.compressing { box-shadow: 0 0 100px #ff8 inset; }
#compress .size { text-align: right; }
#compress .status { width: 1em; position: relative; }
#compress .status.undefined { background: #fbb; }
#compress .status.pending { background: #ffb; }
#compress .status.finished { background: #bfb; }
#compress .status.error { background: #f88; }
#compress .status.error:before { content: '⚠'; color: #500; }
#compress .status.error:hover:after {
  position: absolute; top: 0; left: 2em; padding: 5px;
  font: .8em Arial monospace; color: #f00; background: #ffd;
  white-space: pre;
  content: attr(error);
}
#compress.finished { background: #efe; }
#compress .rate { font: .8em monospace; text-align: right; }
#compress .rate.bad { color: #a44; }
#compress .rate.neutral { color: #aa4; }
#compress .rate.good { color: #4a4; }
#compress .rename { font: .8em monospace; }